.profile__title {
  max-width: 336px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 790px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    max-width: 250px;
  }
}
@media screen and (max-width: 321px) {
  .profile__title {
    max-width: 282px;
  }
}
