.modal-edit__close-button{
  background-color: transparent;
  border: none;
  position: absolute;
  top: -40px;
  left: 438px;
  cursor: pointer;
  padding-right: 19px;
  margin: 0;
  width: min-content;
  overflow: visible;
}
.modal-edit__close-button:hover{
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .modal-edit__close-button{
    left: calc(100vw - 70px);

  }
}

