.profile__avatar{
  background-image: url(../../../images/avatar.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  min-width: 120px;
  min-height: 120px;
  max-width: 145px;
}